<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script type="text/x-mathjax-config">
  				MathJax.Hub.Config({
		    		extensions: ["tex2jax.js"],
    				jax: ["input/TeX", "output/HTML-CSS"],
    				tex2jax: {
      					inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      					displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      					processEscapes: true
    				},
    				"HTML-CSS": { fonts: ["TeX"] }
  				});
			</script>
  
			<script type="text/javascript"
  				src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js">
			</script>
		</head>
		<body>
			<nav>
	    		<ul><img src="/research_venn_diagram.jpg" style="float:right; width:20%; height:auto; min-width:75px; max-width:150px;">
	        		<li>
					<div class="dropdown">
	      					<a class="dropbtn" id="research" href="/">Research</a>
       		 				<div class="dropdown-content">
						<a href="/publications/photosynthesis">Photosynthesis</a>
            					<a href="/publications/spectroscopy">Spectroscopy</a>
            					<a href="/publications/dynamics">Dynamics</a>
        				</div>
      				</li>
		        	<!--<li><a href="/education" id="education">Education</a></li>-->
		        	<li><a href="/members" id="members">Members</a></li>
				<li><a href="/publications" id="publications">Publications</a></li>
				<li><a href="/software" id="software">Software</a></li>
				<li><a href="/contact" id="contact">Contact</a></li>
			</ul>
			</nav>
			
			<div class="container" style="width:70%; margin:auto">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>-->
	        		<!--<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>-->
				</ul>
			</footer>
		</body>
	</html>
