<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/research.css">
		</head>
		<body>
			<nav>
	    		<ul><img src="/research_venn_diagram.jpg" style="float:right; width:20%; height:auto; min-width:75px; max-width:150px;">
	        		<li><a href="/">Research</a></li>
		        	<li><a href="/members">Members</a></li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/software">Software</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
				
			<!--<div style="margin-top:20px; margin-left:auto; margin-right:auto; width:75%;">-->
<ul>
    <li><a href="http://mreppert.github.io/publications/photosynthesis" style="width:25%" id="photosynthesis">Photosynthesis</a></li>
    <li><a href="http://mreppert.github.io/publications/spectroscopy" style="width:25%" id="spectroscopy">Spectroscopy</a></li>
    <li><a href="http://mreppert.github.io/publications/dynamics" style="width:25%" id=dynamics>Dynamics</a></li>
</ul>
			</nav>
			
			<div class="container" style="width:70%; margin:auto">
			
			{{ content }}
			
			</div>
		</body>
	</html>
